/*Global Styles*/
body{
    font-family: Arial,  sans-serif;
    background-color: #f8f9fa;
}


.hero-section{
    min-height:80vh;
    display: flex;
    align-items: center;
    background:linear-gradient(to right, #f8f9fa,#f8f9fa,#e3f2fd);
    padding:40px 0;
    overflow: hidden;
}

.btn-primary:hover{
    background-color: #0b5ed7;
    transform: translateY(-3px);
    transition: 0.3s;
}

.card{
    transition: all 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 15);
}

footer a{
    color:white;
    text-decoration: none;
    transition: 0.3s;
}
footer a:hover{
    color: #0d6efd !important;
    text-decoration: underline;
}
